.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;

    padding: 0 2rem;
    background: white;
    border-bottom: 1px solid #ddd;
}

.btn {
    width: 25vw;
    text-align: center;
    cursor: pointer;
}

.btn p {
    font-weight: bold;
    font-size: 18px;
    color: black;
}